---
import qiqi from '@assets/webp/qiqi-fallen.webp'
import Layout from '@layout'
---

<Layout title="404 Not Found">
  <div class="my-32">
    <div class="text-center text-3xl genshin-font">404</div>
    <img class="w-32 h-32 m-auto" src={qiqi.src} width={qiqi.width} height={qiqi.height} alt="Qiqi Fallen" />
  </div>
</Layout>
