---
import qiqi from '@assets/webp/qiqi-fallen.webp'
import Layout from '@layout'
---

<Layout title="404 Not Found">
  <div class="text-center text-5xl genshin-font">404</div>
  <img class="w-72 h-72 m-auto" src={qiqi.src} width={qiqi.width} height={qiqi.height} alt="Qiqi Fallen" />
</Layout>
