---
type Props = astroHTML.JSX.AnchorHTMLAttributes & {
  self?: boolean
}
const props = { ...Astro.props }
if (!props.self) {
  props.rel = 'noreferrer noopener'
  props.target = '_blank'
}
props.self = undefined
---

<a {...props}><slot /></a>
