---
import MaterialGuide from '@components/home/material-guide.svelte'
import More from '@components/more.astro'
import { navData } from '@components/nav/data'
import HomeNav from '@components/nav/home-nav.astro'
import { useTranslations, getLangFromUrl } from '@i18n/utils'
import Layout from '@layout'
export { getStaticPaths } from '@i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title={t("home.title")} grid defaultTitle>
  <nav class="bg-neutral pt-6 rounded-2xl">
		<HomeNav data={navData.slice(0,6)} />
		<More>
			<HomeNav data={navData.slice(6)} mt />
		</More>
	</nav>
	<div>
		<MaterialGuide client:load {lang} />
	</div>
</Layout>
