---
import enka from '@assets/webp/EnkaNetwork.webp'
import ExternalA from '@components/external-a.svelte'
import Analytics from '@components/showcase-analytics/statistics.svelte'
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@i18n/utils'
import Layout from '@layout'
export { getStaticPaths } from '@i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<Layout title={t("statistics.title")} minHFull>
  <Analytics client:load {lang} />
  <div slot="main-bottom" class="flex flex-col items-center text-text-sub">
    <div class="mb-2">
      <a class="inline-block text-link" href={translatePath("/showcase/")}>{t("home.nav.showcase")}</a>:
      <span class="inline-block">{t("statistics.population")}</span>
    </div>
    <ExternalA href="https://enka.network" aria-label="enka network">
      <img src={enka.src} width={enka.width} height={enka.height} alt="enka network" />
    </ExternalA>
  </div>
</Layout>
