---
import { Image } from 'astro:assets'
import paimon from '@assets/images/paimon.png'
import Svg from '@components/svg.astro'
import { ui } from '@i18n/ui'
import { getLangFromUrl, useTranslatedPath } from '@i18n/utils'

const pageLang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(pageLang)
---

<header class="flex items-center justify-between py-2 border-b border-border">
  <a href={translatePath('/')} class="flex items-center text-2xl genshin-font">
    <Image loading="eager" src={paimon} alt="paimon" class="w-9 rounded-full overflow-hidden mr-3" />
    <div class="mt-1">Paimon<span class="ml-0.5">+</span></div>
  </a>
  <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" aria-label="language selector">
      <Svg icon="lang" class="h-6" />
    </div>
    <ul class="dropdown-content menu bg-neutral rounded-md z-[1] w-fit p-1 shadow-[0_0_.5rem_var(--background)]">
      {Object.entries(ui).map(([lang, {label}]) => (
        <li class={pageLang === lang ? "page-lang" : undefined}>
          <a href={translatePath('/', lang as keyof typeof ui)} aria-label={label}>{label}</a>
        </li>
      ))}
    </ul>
  </div>
</header>

<style>
  .page-lang::before {
    content: "";
    position: absolute;
    left: 0.375em;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--text);
    border-radius: 50%;
    width: 0.375em;
    height: 0.375em;
  }
</style>
