---
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import Footer from './footer.astro'
import GlobalStyle from './global-style.astro'
import Head from './head.astro'
import Header from './header.astro'
type Props = {
  title: string
  grid?: boolean
  defaultTitle?: boolean
  minHFull?: boolean
}
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const { title, grid, defaultTitle, minHFull } = Astro.props
---

<!doctype html>
<html {lang}>
  <Head title={defaultTitle ? undefined : (t("seo.prefix") + title)}>
    <slot name="head" />
  </Head>
  <body class="max-w-screen-lg w-11/12 m-auto">
    <Header />
    <main>
      <h1 class="my-2 text-center">{title}</h1>
      <div class=`my-12${grid ? " grid grid-cols-1 md:grid-cols-2 gap-12 max-w-md md:max-w-full mx-auto" : ""}${minHFull ? " min-h-[calc(100svh-6rem-3.25rem-1.5rem)]" : ""}`>
        <slot />
      </div>
      <slot name="main-bottom" />
    </main>
    <Footer />
  </body>
</html>

<GlobalStyle />
