---
import { getLangFromUrl } from '@i18n/utils'
import Footer from './footer.astro'
import Head from './head.astro'
import Header from './header.astro'
import Style from './style.astro'
type Props = {
  title?: string
}
const lang = getLangFromUrl(Astro.url)
const { title } = Astro.props
---

<!doctype html>
<html {lang}>
  <Head {title} />
  <body class="max-w-screen-lg m-auto px-4 sm:px-5">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<Style />
