---
import { getLangFromUrl } from '@i18n/utils'
import Footer from './footer.astro'
import GlobalStyle from './global-style.astro'
import Head from './head.astro'
import Header from './header.astro'
type Props = {
  title: string
  grid?: boolean
}
const lang = getLangFromUrl(Astro.url)
const { title, grid } = Astro.props
---

<!doctype html>
<html {lang}>
  <Head {title}>
    <slot name="head" />
  </Head>
  <body class="max-w-screen-lg m-auto px-4 sm:px-5">
    <Header />
    <main>
      <h1 class="my-2 text-center">{title}</h1>
      <div class=`my-12 ${grid === false ? "" : "grid grid-cols-1 sm:grid-cols-2 gap-12"}`>
        <slot />
      </div>
      <slot name="main-bottom" />
    </main>
    <Footer />
  </body>
</html>

<GlobalStyle />
